@charset "utf-8";

html {
  height: 100%
}

body {

  background: #2d1c38 url(one.jpeg);
  color: rgb(255, 255, 255);
  font-family: Arial, sans-serif;
  font-size: 1em;
  line-height: 135%;
}

/* Ссылки */
.link:hover {
  color: rgb(0, 217, 255);
}

/* Шапка */
img.head_img {
  margin-left: 20px;
  width: 110px;
  height: 105px;
}

.hat {
  display: flex;
  flex-direction: row;
}


h1 {
  margin-top: 20px;
}

/* Тексты */
a,
p {
  color: #ffffff;
}

/* Таблица */
.light:hover {
  background-color: #ff16ec;
}

tr,
td {
  color: #6d5e6c;
  border: 3px solid rgb(202, 134, 134);
  text-align: center;
}

#table1,
#Cours,
#review,
.reviews,
#table3,
h3,
.forms {
  background-color: rgb(37, 5, 78);
  margin-top: 10px;
  max-width: 960px;
  margin-left: 20%;
  width: 100%;

}

.table2 {
  margin-left: 20%;

}

.table21:hover {
  color: #ff0ff3
}

/* Другое */
header,
nav,
footer {

  margin-top: 10px;
  padding-left: 110px;
}

.intro {
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
}